.container{
    margin: auto;
    background-color: black;
    width: 400px;
    height: 620px;
    border-radius: 10px;
}
.result{
    
    border: none;
    width: 300px;
    height: 100px;
    background-color: black;
    font-size: 55px;
    color: white;
    text-align: right;
    margin-left: 50px;
    
}
.button:hover {
    background-color: #e7e7e7;
    font-size: 40px;
}
table{
    margin-left: 25px;
    width: 300px;
    height: 400px;
}
.button{
    background-color: rgb(87, 87, 87);
    width: 80px;
    height: 80px;
    font-size: 30px;
    border-radius: 50%;
    border: 1px;
    cursor: pointer;
    

}
.icon{
    background-color: rgb(243, 124, 39);
    width: 80px;
    height: 80px;
    font-size: 30px;
    border-radius: 50%;
    border: 1px;
    cursor: pointer;
    
}
.icon:hover{
    background-color: #e7e7e7;
    font-size: 40px;
    
}
.up3{
    background-color: darkgrey;
    width: 80px;
    height: 80px;
    font-size: 30px;
    border-radius: 50%;
    border: 1px;
    cursor: pointer;
}
.up3:hover{
    background-color: #e2762eee;
    font-size: 40px;
}
.down{
    width: 344px;
    margin-left: 30px;
    height: 100px;
}
.zero{
    width: 163px;
    height: 80px;
    font-size: 30px;
    border-radius: 13%;
    border: 1px;
    cursor: pointer;
    background-color: rgb(87, 87, 87);
}
.zero:hover{
    background-color: #e7e7e7;
    font-size: 40px;
}
.InputF{
    margin-top: 10px;
    width: 300px;
    height: 70px; 
    background-color: black;
    border-style: none;
    color: white;
    font-size: 40px;
    outline: none;
    text-align: right;
}